
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Lato:wght@300&family=Open+Sans:wght@300&family=Tiro+Gurmukhi&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  text-align: center;
  /* background-color: #e9eeee53; */
    /* background: url("./images/beachlove.jpg"); */
    /* background-repeat: no-repeat; */
    /* object-fit: cover; */
    /* background-size:cover; */
    /* filter: grayscale(100%); */
}
    
    /* background: cover; */


.logo{
  margin-top: 40px;
  margin-bottom: 20px;
  color: #f67f1dbb;
  font-size: 2.5rem;
  animation-name:slideIn;
animation-duration:3s
  
}
.home-page{
  /* margin-top: 40px; */
  color: #510202d3;
  font-size: 1.8rem;
  animation-name:slideIn;
animation-duration:3s
}
@keyframes slideIn {
from {
margin-left : 100%;
width:300%
}
to {
margin-left:0;
width:150%
}
}

.topic{
  margin-top: 40px;
  font-size: 2rem;
  color: #510202d3;
}
.instructions{
  margin-top: 40px;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #f5f1ec;
  align-content: center;
}
.error-colour {
  color: #f00c0c;
  margin-top: 40px;
  font-size: 3.0rem;
}
.url-color{
  color: #f17e7e;
  font-size: 2rem;
}
.resize{
  font-size: 1.5rem;
}
.nested-header{
  margin-top: 40px;
  font-size: 2rem;
}
.nested-style{
  margin-top: 30px;
}
button{
  /* margin-left: 20px; */
  /* margin-top: 30px; */
  padding: 5px;
  border: 1px solid white;
  margin-left: 20px;
  cursor: pointer;
  background-color: #0c81ed;
  margin-top: 10px;
  width: 60px;
  
}
 button:hover{
  background-color: white;
  color: black;
}
  button:focus{
  outline: none;
}
input{
  margin-top: 3opx;
}

.mt-3{
  margin-top: 30px;
  color: #413c3c;
}
.welcome-style{
  margin-top: 40px;
  

}
.profile{
  margin-top: 20px;
}
input{
  outline: none;
  width: 20%;
  height: 5vh;
}


nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(158, 136, 157);
  padding: 20px 80px;
  box-shadow: 05px 15px (0,0,0,0.06);
}
 #navbar{
  display: flex;
  align-items: center;
  justify-content: center;
 }
 #navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
 }
 .resize-pics{
  /* background-color: #f1e4e4; */
  height: 20vh;
  color: #413c3c;
  object-fit: fill;
  /* width: ; */
 }
 img {
  filter: grayscale(100%);
}


.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.nav-links:hover {
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
  color: #413c3c;
}
.navlinks:hover:after{
  content: "";
  width: 30%;
  height: 2px;
  background: #17cf97;
  position: absolute;
  bottom:-4px;
  left:20px
}


